<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
<!-- 配置bean -->
<bean id="arthmeticCalculatorImpl" class="com.wiseq.aop.impl.ArthmeticCalculatorImpl"></bean>
<bean id="loggingAspect" class="com.wiseq.aop.impl.LoggingAspect"></bean>
<bean id="validateAspect" class="com.wiseq.aop.impl.ValidatorAspect"></bean>


<aop:config >
	<aop:pointcut expression="execution(* com.wiseq.aop.impl.ArthmeticCalculatorImpl.*(..))" id="pointcut"/>
	<aop:aspect  order="2" ref="loggingAspect"> 
		<aop:before method="beforeMethod" pointcut-ref="pointcut"/>
		<aop:after method="afterMethod" pointcut-ref="pointcut"/>
		<aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"/>
		<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="e"/>
	</aop:aspect>
	
	<aop:aspect  order="1" ref="validateAspect">
		<aop:before method="validate" pointcut-ref="pointcut"/>
	</aop:aspect>
</aop:config>

</beans>
